/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="github"],
input[type="linkedin"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

button#add-education, button#add-experience,button#add-skills, button#generate-resume {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button#add-education:hover,button#add-skills:hover, button#add-experience:hover, button#generate-resume:hover {
    background-color: #555;
}

#education-list,#skills-list, #experience-list {
    margin-top: 10px;
}
/* Add some basic styling to the template section */
#resume-templates {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

/* Style the dropdown select */
#template {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

/* Style the "Apply Template" button */
#apply-template {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#apply-template:hover {
    background-color: #555;
}


/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}
